<aside class="bar">
  <header class="masthead" role="banner">
    <{% if page.url == '/' %}h1{% else %}h2{% endif %} class="mastheadLogo">
      <a class="mastheadLogo-link" href="/" title="{{ site.title }}"><span class="mastheadLogo_pocket">Pocket</span><span class="mastheadLogo_js">JS</span></a>
    </{% if page.url == '/' %}h1{% else %}h2{% endif %}>
  </header>
  <nav class="menu" role="menu">
    <h3 class="menu-title">Últimos posts</h3>
    <ol class="menu-list">
    {% for post in site.posts %}
    {% if post.visible %}
      <div class="menu-shadow menu-shadow_top"></div>
      <li class="menu-item">
        <a class="menu-link" href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
      </li>
      <div class="menu-shadow menu-shadow_bottom"></div>
    {% endif %}
    {% endfor %}
    </ol>
  </nav>
</aside>