---
---
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="{{ page.description }}">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>{{ page.title }} | {{ site.title }}</title>
  {% include open-graph.html %}
  <link rel="stylesheet" href="/assets/css/main.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Archivo+Black|Roboto:300,300i,500,700,900">
</head>
<body>
<main class="main" role="main">
  {% include aside.html %}

  <section class="content">
    <article class="post">
      <header class="post-header">
        <h1 class="post-title">{{ page.title }}</h1>
        <time class="post-date" datetime="{{ page.date | date_to_xmlschema }}">
          {% assign m = page.date | date: "%-m" %}
          {{ page.date | date: "%-d" }}
          {% case m %}
            {% when '1' %}Jan,
            {% when '2' %}Fev,
            {% when '3' %}Mar,
            {% when '4' %}Abr,
            {% when '5' %}Mai,
            {% when '6' %}Jun,
            {% when '7' %}Jul,
            {% when '8' %}Ago,
            {% when '9' %}Set,
            {% when '10' %}Out,
            {% when '11' %}Nov,
            {% when '12' %}Dez,
          {% endcase %}
          {{ page.date | date: "%Y" }}
        </time>
      </header>

      <div class="post-content">
      {{ content }}  
      </div>

      <nav class="post-navigation">
        {% if page.previous.visible == false %}
        <a class="post-navigation_item post-navigation_prev" href="#" title="" rel="prev"></a>
        {% elsif page.previous.url %}
        <a class="post-navigation_item post-navigation_prev" href="{{ page.previous.url }}" title="{{ page.previous.title }}" rel="prev">&laquo; {{ page.previous.title }}</a>
        {% else %}
        <a class="post-navigation_item post-navigation_prev" href="#" title="" rel="prev"></a>
        {% endif %}

        {% if page.next.visible == false %}
        <a class="post-navigation_item post-navigation_prev" href="#" title="" rel="next"></a>
        {% elsif page.next.url %}
        <a class="post-navigation_item post-navigation_next" href="{{ page.next.url }}" title="{{ page.next.title }}" rel="next">{{ page.next.title }} &raquo;</a>
        {% else %}
        <a class="post-navigation_item post-navigation_next" href="#" title="" rel="next"></a>
        {% endif %}
      </nav>

      {% if page.comments %}
      <div class="post-comments">
        <div id="disqus_thread"></div>
        <script>
        /**
        *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
        *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
        /*
        var disqus_config = function () {
        this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };
        */
        (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://pocketjs.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <script id="dsq-count-scr" src="//pocketjs.disqus.com/count.js" async></script>
      </div>
      {% endif %}
    </article>
  </section>

  {% include footer.html %}
</main>

{% include ga.html %}
</body>
</html>